<h1>{{title}}</h1>
<div class="post-metadata">
  <p class="author">posted by <span class="post-author">{{postedBy}}</span></p>

  <p class="date">on <span class="post-date">{{postDate}}</span></p>
</div>