<section class="field">
  <div class="enable-blog-posts">
    <label for="" class="checkbox-label">
      {{input type="checkbox" checked=category.enable_blog_posts}}
      {{i18n 'blog_post.allow_blog_posts'}}
    </label>
  </div>
</section>
