button.widget-button.not-blog-post-icon {
  font-size: small;
}

button.widget-button.not-blog-post-icon i::before {
  font-size: 16px;
  padding-right: 4px;
}

button.widget-button.blog-post-icon {
  font-size: small;
}

button.widget-button.blog-post-icon i::before {
  color: gold;
  font-size: 16px;
  padding-right: 4px;
}

.blog-post-header-container img {
  max-width: 100%;
  height: auto;
}
