.blog-post {
  #main-outlet {

    // Things to hide
    .create-topics-notice,
    .too-few-topics-notice,
    #topic-progress,
    #topic-progress-expanded,
    .title-wrapper .edit-topic,
    .post-info,
    .post-info.edits,
    #topic-title,
    .fancy-title,
    .topic-avatar,
    .topic-meta-data,
    .notification-options,
    .lightbox-wrapper,
    .posts button.create {
      display: none;
    }

    // *:after is 'inherit', set box-sizing to 'content-box' anywhere 'border-box' is causing problems
    box-sizing: border-box;
    *, *:before, *:after {
      box-sizing: inherit;
    }

    // Sets the width where the header image will stop displaying full window width
    @media (min-width: 1400px) {
      position: relative;
    }

    // Positions top of background image - adjust for header height
    padding-top: 60px;

    // Text color, style, and rhythm
    font-size: 18px;

    .gutter {
      font-size: 0.8889em;
      line-height: 1em;
      margin-bottom: 0;
    }

    figcaption {
      font-size: 0.8889em;
      line-height: 1em;
    }

    .posted-at {
      font-size: 0.618em;
      line-height: 1;
    }

    p {
      font-size: 1em;
      line-height: 1.5em;
      margin: 0 0 1.5em 0;
    }

    h4, blockquote {
      font-size: 1.1667em;
      line-height: 1.2857em;
      margin-top: 1.2857em;
      margin-bottom: 1.2857em;
    }

    h3 {
      font-size: 1.3333em;
      line-height: 1.1250em;
      margin-top: 1.1250em;
      margin-bottom: 13px;
    }

    h2 {
      font-size: 2em;
      line-height: 1.5em;
      margin-top: 0.75em;
      margin-bottom: 0;
    }

    h1 {
      font-size: 2.6667em;
      line-height: 1.125em;
      margin-top: 0.5625em;
      margin-bottom: 0;
    }

    nav.post-controls {
      box-sizing: content-box;
      font-size: 14px;
    }

    color: #666 !important;

    h1, h2, h3, h4 {
      color: #333 !important;
    }

    // Elements
    img {
      max-width: 100%;
      height: auto;
    }
    figure {
      margin: 0;
    }
    img.avatar {
      max-width: 45px;
    }
  }

  // Hide the header image so it doesn't display twice
  .header-image {
    display: none;
  }

  .large-title {
    // hidden here and made visible with js in the topic view
    visibility: hidden;
    .post-metadata {
      font-size: 0.8889em;
      margin-top: 15px;
      padding-left: 5px;
    }
    .post-metadata .author,
    .post-metadata .date {
      margin-bottom: 0 !important; // fix this
    }
    .post-author,
    .post-date {
      font-weight: bold;
    }
  }

  .topic-body {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .topic-body .regular {
    padding-top: 0;
    margin-top: 0;
  }

  .bg-container {
    position: absolute;
    left: 0;
    right: 0;
  }

  .posts {
    position: relative;
  }

  .large-letter {
    // <span class="large-letter"></span> is a whitelisted tag
    font-size: 36px;
  }

  // This is the 'reply as linked topic' area - move it to the bottom for now.
  .gutter {
    position: relative;
    left: 0;
    bottom: 100%;
    width: 66%;
    padding-left: 0;
    display: block !important;

    .track-link {
      // without the padding it disappears.
      padding-left: 1px;
    }
    .reply-new {
      padding-left: 18px;
      padding-bottom: 13px;
      opacity: 1 !important;
    }
  }

  .posts,
  .large-title {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) {
      width: 66%;
      max-width: none;
    }
  }

  // Get rid of the initial blue flash
  .topic-body[style] {
    background-color: #fff !important;
  }

  #topic-footer-buttons {
    padding: 13px;
    font-size: 14px;
  }

  #share-link {
    box-sizing: content-box;
  }

  blockquote {
    background: #f9f9f9;
    color: #777;
    border-left: 10px solid #ccc;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }

  #suggested-topics {
    //font-size: 0.8889em;
    font-size: 14px;

    .topic-list th:first-of-type, .topic-list td:first-of-type {
      padding-left: 0;
    }
    .default {
      width: 66%;
    }
    .category {
      display: none;
    }
    .posts {
      width: 10%;
    }
    .views {
      width: 10%;
    }
    .activity {
      width: 16%;
    }
  }
}

// Adjust to header height
.mobile-view .blog-post #main-outlet {
  padding-top: 57px;
}